body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container {
    background-image: url("../assets/output-onlinepngtools-2.png");
    background-size: cover;
    background-position: center;
    
  }

#recipeOutput {
    margin-top: 20px;
}

.hidden {
    display: none;
}
